In [ ]:
#1. Establish a connection between Pyhton and the Sakila database

In [11]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine, text
import getpass
password = getpass.getpass()

In [7]:
bd="sakila"
password="Santquirze-19"
connection_string='mysql+pymysql://root:'+password+'@127.0.0.1:3306/'+bd
engine=create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@127.0.0.1:3306/sakila)

In [8]:
connection = engine.connect()

In [ ]:
#2. Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) 
# from the Sakila database as a Pandas DataFrame. The function should take in three parameters:
#engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
#month: an integer representing the month for which rental data is to be retrieved.
#year: an integer representing the year for which rental data is to be retrieved.

In [15]:
with engine.connect() as connection:
    query = text('Select sr.rental_date from sakila.rental as sr;')
    result = connection.execute(query)
    results=result.fetchall()
    df = pd.DataFrame(results, columns=result.keys())

print(df.head())

          rental_date
0 2005-05-24 22:53:30
1 2005-05-24 22:54:33
2 2005-05-24 23:03:39
3 2005-05-24 23:04:41
4 2005-05-24 23:05:21

In [21]:
def rentals_month(engine, month: int, year: int) -> pd.DataFrame:
    query = text("""
        SELECT * 
        FROM sakila.rental 
        WHERE MONTH(rental_date) = :month AND YEAR(rental_date) = :year;
    """)
    
    with engine.connect() as connection:
        result = connection.execute(query, {"month": month, "year": year})
        df = pd.DataFrame(result.fetchall(), columns=result.keys())

    return df_1

In [24]:
df= rentals_month(engine, 5, 2005)
print(df.head())

   rental_id         rental_date  inventory_id  customer_id  \
0          1 2005-05-24 22:53:30           367          130
1          2 2005-05-24 22:54:33          1525          459
2          3 2005-05-24 23:03:39          1711          408
3          4 2005-05-24 23:04:41          2452          333
4          5 2005-05-24 23:05:21          2079          222

          return_date  staff_id         last_update
0 2005-05-26 22:04:30         1 2006-02-15 21:30:53
1 2005-05-28 19:40:33         1 2006-02-15 21:30:53
2 2005-06-01 22:12:39         1 2006-02-15 21:30:53
3 2005-06-03 01:43:41         2 2006-02-15 21:30:53
4 2005-06-02 04:33:21         1 2006-02-15 21:30:53

In [26]:
#Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input 
# along with the month and year and returns a new DataFrame containing the number of rentals made 
# by each customer_id during the selected month and year.

def rental_count_month(engine, month, year):
    column_name=f"rentals_{int(month):02d}_{year}"

    with engine.connect() as connection:
        query = text("""
            SELECT customer_id, COUNT(*) AS rental_count
            FROM sakila.rental
            WHERE MONTH(rental_date) = :month AND YEAR(rental_date) = :year
            GROUP BY customer_id;
        """)
        
        result = connection.execute(query, {"month": month, "year": year})
        data=result.fetchall()
        df= pd.DataFrame(data, columns=["customer_id", column_name])    
    return df

In [27]:
df= rental_count_month(engine, 5, 2005)
print(df.head())

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3

In [ ]:
#4. Create a Python function called compare_rentals that takes two DataFrames as input 
# containing the number of rentals made by each customer in different months and years. 
# The function should return a combined DataFrame with a new 'difference' column, 
# which is the difference between the number of rentals in the two months.

In [28]:
def compare_rentals(engine, month1, year1, month2, year2):
    col1 = f"rentals_{int(month1):02d}_{year1}"
    col2 = f"rentals_{int(month2):02d}_{year2}"
    
    with engine.connect() as connection:
        query = text(f"""
        SELECT 
            r1.customer_id,
            r1.{col1} AS {col1},
            r2.{col2} AS {col2}
        FROM
            (SELECT customer_id, COUNT(*) AS {col1}
            FROM rental
            WHERE MONTH(rental_date) = :month1 AND YEAR(rental_date) = :year1
            GROUP BY customer_id) AS r1
        LEFT JOIN
            (SELECT customer_id, COUNT(*) AS {col2}
            FROM rental
            WHERE MONTH(rental_date) = :month2 AND YEAR(rental_date) = :year2
            GROUP BY customer_id) AS r2
        ON r1.customer_id = r2.customer_id
        ORDER BY r1.customer_id;""")
        
        result = connection.execute(query, {"month1": month1, "year1": year1, "month2": month2, "year2": year2})
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
    
    df['difference'] = df[col1].fillna(0) - df[col2].fillna(0)
    return df

df = compare_rentals(engine, 5, 2005, 8, 2005)
print(df.head())

   customer_id  rentals_05_2005  rentals_08_2005  difference
0            1                2               11          -9
1            2                1               11         -10
2            3                2                7          -5
3            5                3               13         -10
4            6                3               12          -9